/** @format */

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	background: linear-gradient(90deg, #0c0032, #2a0b86);
	height: 100vh;
	width: 100vw;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* ///////////////////////////// */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poppins", sans-serif;
	/* background-color: #202142; */
	color: #fff;
	line-height: 1.6;
}

ul {
	list-style: none;
}

/* .card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
} */

.card h2 {
	font-family: "Lora";
	font-size: 28px;
	font-weight: 600;
	text-align: left;
}

.card p {
	font-family: "Lora";
	font-size: 16px;
	font-weight: 800;
	text-align: left;
}

.card-img {
	max-width: 100%;
	max-height: 500px;
	margin: 0 auto;
	display: block;
}
.img-box {
	background-color: #000000;
	color: #333;
	border-radius: 15px;
	padding: 0px 50px;
	margin: 20px 0;
	position: relative;
}

.btn {
	color: #3f0505;
	border: 2px solid rgba(179, 187, 245, 1);
	border-radius: 6px;
	color: #620303;
	width: 120px;
	height: 30px;
	cursor: pointer;
	align-content: center;
}


.each-card {
  background-color: #fff;
  color: #000000;
  border-radius: 15px;
  padding: 50px 50px;
  margin: 0px 0;
  position: relative;
}
